body {
  margin: 0;
  padding: 0;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 13pt;
	color: #111;
	background-color: #000;
}


h1, h2, h3, h4 {
	font-family: 'Alfa Slab One', 'Arial Black', Arial;
	letter-spacing: 0.07ex;
}

h1, h2, h3 {
	color: #E63946;
	font-size: 170%;
	text-shadow: 0 2px #FFF;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
	margin: 0;
	font-weight: normal;
}

hr {
	border: none;
	border-top: 6px dotted rgba(0,0,0,0.2);
	margin: 2em 35%;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px dotted #E63946;
	color: #E63946;
}

.body-container {
	min-height: 100vh;
}

.area-container, .body-container {
	background: #1D3557 url('/images/stripes.png') repeat;
}

.area-highlight {
	color: #1D3557;
	background-color: #F1FAEE;
	border-color: #F1FAEE;
}

.selected > .area-highlight, .selected.area-highlight {
	color: #F1FAEE;
	background-color: #1D3557;
	border-color: #1D3557;
}

.area-body {
	background-color: #b8e1e2;
}

.area-outer {
	color: #F1FAEE;
}

.area-device {
	background-color: #E63946;
	color: #FFF;
}

.slanted {
	transform: rotate(-1deg);
}
